{% extends 'myapp/base.html' %}

{% block content %}
<h1 class="text-2xl font-bold m-10"> + Update Product</h1>


<form class="bg-white m-10 shadow-md px-8 py-8 w-3/5" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-5">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Product Name</label>
      <input class="shadow appearance-none rounded border px-2 py-3 mr-10 text-gray-700" type="text" name="name" value="{{ product.name }}" placeholder="iphone">
    </div>
    
    <div class="mb-5">
      <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Product Price</label>
      <input class="shadow appearance-none rounded border px-2 py-3 mr-10 text-gray-700" type="text" name="price" id="price" value="{{ product.price }}" placeholder="500">
    </div>

    <div class="mb-5">
      <label for="desc" class="block text-gray-700 text-sm font-bold mb-2">Product Desciption</label>
      <input class="shadow appearance-none rounded border px-2 py-3 mr-10 text-gray-700" type="text" name="desc" id="desc" value="{{ product.desc }}" placeholder="this is an iphone 12">
    </div>
    
    <div class="mb-5">
        <img class="w-20 h-20" src="{{product.image.url}}" alt="">
      <input class="py-3" type="file" accept="image/*" name="upload" id="upload" > 
    </div>
  
    <div>
      <input class="bg-green-500 text-white px-5 py-2" type="submit" name="submit" value="Update Product">
    </div>

  
  
  
</form>

{% endblock %}

